<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.BoardPhotoDao">

 <resultMap type="BoardPhoto" id="BoardPhotoMap">
   <id column="board_photo_id" property="no"/>
      <result column="photo_path" property="filePath"/>
      <result column="boards_id" property="boardNo"/>
  </resultMap>
  
  <select id="findAll" parameterType="int" resultMap="BoardPhotoMap">
    select 
      board_photo_id, 
      boards_id, 
      photo_path
    from 
       board_photos
    where 
      boards_id=#{value}
    order by 
      board_photo_id asc
  </select>
  
  <insert id="insert" parameterType="BoardPhoto">
    insert into board_photos(boards_id, photo_path)
    values(#{boardNo},#{filePath})
  </insert>
  
  <delete id="deleteAll" parameterType="int">
    delete from board_photos
    where boards_id=#{value}
  </delete>
  <delete id="delete" parameterType ="int">
 delete from board_photos
  where board_photo_id=#{value}
  </delete>
  
</mapper>




