<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.FaqDao">

  <resultMap type="Faq" id="FaqMap">
    <id column="faq_id" property="faqID"/>
    <result column="question_type" property="questionType"/>
  </resultMap>


  <sql id="basicColumn">
    select
      faq_id
      , question_type
      , title
      , contents 
  </sql>


  <sql id="where1">
    where faq_id=#{faqID}
  </sql>
  
  <insert id="insert" parameterType="Faq">
    insert into faqs (
      question_type
      , title
      , contents
    )
    values(
    #{questionType}
    , #{title}
    , #{contents}
    )
   </insert>
   
   <select id="findAll" resultMap="FaqMap" parameterType="map">
    <if test="keyword != null and keyword !=''">
      <bind name="pattern" value="'%' + keyword + '%'"/>
    </if>
    <include refid="basicColumn"/>
      from faqs
    <where>
      <if test="questionType != null and questionType != 'default'">question_type like #{questionType}</if>
      <if test="pattern != null">and title like #{pattern}</if>
    </where>
      order by faq_id desc
      limit #{offset}, #{pageSize}
   </select>
   
   <select id="findBy" parameterType="int" resultMap="FaqMap">
    <include refid="basicColumn"/>
    from faqs
    <include refid="where1"/>
   </select>
    
   <update id="update" parameterType="Faq">
      update faqs
      <set>
        <if test="questionType != null"> question_type=#{questionType},</if>
        <if test="title != null"> title=#{title},</if>
        <if test="contents !=null"> contents=#{contents}</if>
      </set>
      <include refid="where1"/>  
   </update>
   
   <delete id="delete" parameterType="int">
	    delete from faqs
	    <include refid="where1"/>
   </delete>
   
  <select id="countAll" resultType="int" parameterType="map">
    <if test="keyword != null and keyword !=''">
      <bind name="pattern" value="'%' + keyword + '%'"/>
    </if>
    select count(*) 
    from faqs
    <where>
      <if test="questionType != null and questionType != 'default'">question_type like #{questionType}</if>
      <if test="pattern != null">and title like #{pattern}</if>
    </where>
  </select>
  <!--  
  
   <select id="findByKeyword"
          parameterType="string"
          resultMap="FAQMap">
    <bind name="pattern" value="'%' + _parameter + '%'"/>
    <include refid="basicColumn"/> 
    from faqs
    where question_type like #{pattern} and title like #{pattern}
      or title like #{pattern} or question_type like #{pattern}
    order by question_type
    where question_type like #{pattern} or title like #{pattern}
    order by question_type
  
  </select>
    -->
 
 
<!--  <select id="findByKeyword"
          parameterType="string"
          resultMap="FaqMap">
 <bind name="pattern" value="'%' + _parameter + '%'"/>
     <include refid="basicColumn"/>
 from faqs
 where question_type like #{pattern} or title like #{pattern} or (question_type like #{pattern} and title like #{pattern})
 order by question_type
 
 
 </select> -->
 
 
 
 

  </mapper>