<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.greenright.dao.OrderProductDao">

  <resultMap type="OrderProduct" id="OrderProductMap">
    <id column="order_id" property="orderNo"/>
    <id column="option_item_id" property="optionItemNo"/>
    <result column="quantity" property="quantity"/>
    <result column="price" property="price"/>
  </resultMap>
  
  <sql id="selectOrderProduct">
    select
      order_id,
      option_item_id,
      quantity,
      price
  </sql>
  
  <sql id="whereOrderProduct">
    where order_id=#{orderNo}
  </sql> 
 
  <insert id="insert" parameterType="OrderProduct">
    insert into
    order_products(
      order_id,
      option_item_id,
      quantity,
      price)
    values(
      #{orderNo},
      #{optionItemNo},
      #{quantity},
      #{price})
  </insert>
  
</mapper>