<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.PrivateBoardDao">

  <resultMap type="PrivateBoard" id="PrivateBoardMap">
    <id column="private_question_id" property="no"/>
    <result column="questIon_type" property="type"/>
    <result column="member_id" property="memberNo"/>
    <result column="created_date" property="date"/>
    <result column="answer_tf" property="answerTrueFalse"/>
    <result column="answer" property="answer"/>
  </resultMap>

  <sql id="basicColumn">
  select 
    private_question_id,
    questIon_type,
    member_id,
    created_date,
    title,
    contents,
    answer_tf,
    answer
  </sql>

  <sql id="where">
    where member_id=#{no}
  </sql>
  
  <select id="findBy" parameterType="int" resultMap="PrivateBoardMap">
    <include refid="basicColumn"/>
    from private_questions
    where private_question_id=#{no}
  </select>
  
    <insert id="insert" parameterType="PrivateBoard">
    INSERT INTO private_questions (
      questIon_type
      , member_id
      , created_date
      , title
      , contents)
      VALUES (
      #{type}
      , #{memberNo}
      , curdate()
      , #{title}
      , #{contents}
 );
  </insert>
  
  <select id="findAll" parameterType="int" resultMap="PrivateBoardMap">
    <include refid="basicColumn"/>
    from private_questions
    <include refid="where"/>
    order by private_question_id asc limit #{offset}, #{pageSize}
  </select>

  <select id="countAll" resultType="int">
    select count(*) from private_questions
  </select>
</mapper>