<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.ProductFileDao">

  <resultMap type="ProductFile" id="ProductFileMap">
    <id column="product_photo_id" property="no"/>
    <result column="product_id" property="productNo"/>
    <result column="photo_path" property="filePath"/>
    <result column="main_photo_flag" property="mainPhoto"/>
  </resultMap>
  
   <insert id="insert" 
           parameterType="ProductFile">
   INSERT INTO product_photos (
     product_id
     , photo_path
     , main_photo_flag
     )
     VALUES (
     #{productNo}
     , #{filePath}
     , false
 );
  </insert>
  
     <insert id="insertTrue" 
           parameterType="ProductFile">
   INSERT INTO product_photos (
     product_id
     , photo_path
     , main_photo_flag
     )
     VALUES (
     #{productNo}
     , #{filePath}
     , true
 );
  </insert>

</mapper>