<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.ProductOptionItemDao">
  <insert id="insert" parameterType="ProductOptionItem">
    insert into option_items(options_id,option_item_matters)
    values(#{OptionsNo},#{OptionItemMatter})
  </insert>
</mapper>




