<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.ProductOptionItemDao">
  <insert id="insert" parameterType="ProductOptionItem">
    insert into option_items(options_id,option_item_matters)
    values(#{OptionsNo},#{OptionItemMatter})
  </insert>
   <delete id="delete" parameterType="int">
    delete from option_items
    where options_id=#{optionsNo} and option_item_id =#{optionItemNo}
  </delete>
  
  <delete id="deleteAll" parameterType="int">
     delete from option_items  
    where options_id =#{value}
  </delete>
  
</mapper>




