<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.ProductOptionDao">
  <insert id="insert" parameterType="ProductOption">
    insert into options(product_id,options_name)
    values(#{productNo},#{optionName})
  </insert>
</mapper>




