<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.ProductPhotoDao">
  <insert id="insert" parameterType="ProductPhoto">
    insert into product_photos(product_id,photo_path,main_photo_flag)
    values(#{productNo},#{photoPath},false)
  </insert>
  
       
  <insert id="insertTrue" parameterType="ProductPhoto">
   INSERT INTO product_photos (product_id,photo_path,main_photo_flag)
     VALUES (#{productNo},#{photoPath},true)
  </insert>
  
  <delete id="delete" parameterType="Recommend">
    delete from product_photos  
    where product_photo_id=#{productPhotoNo} and product_id =#{productNo}
  </delete>
  
  <delete id="deleteAll" parameterType="int">
     delete from product_photos  
    where product_id =#{productNo}
  </delete>
  
</mapper>




