<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.RecommendDao">

  <select id="CountRecommendForCheck" parameterType="Recommend" resultType="int">
  select count(*) from recommends where boards_id =#{recommendBoardNo} and member_id =#{recommendMemberNo}
  </select>

  <select id="CountRecommend" parameterType="int" resultType="int">
    select count(*) from recommends where boards_id =#{recommendBoardNo}
  </select>

  <insert id="insertRecommend" parameterType="Recommend"
    useGeneratedKeys="true" keyColumn="boards_id" keyProperty="no">
    insert into recommends(boards_id,member_id)
    values(#{recommendBoardNo}, #{recommendMemberNo})
  </insert>

  <delete id="deleteRecommend" parameterType="Recommend">
    delete from recommends  
    where boards_id=#{recommendBoardNo} and member_id =#{recommendMemberNo}
  </delete>
  
  <delete id="deleteAllRecommend" parameterType="int">
    delete from recommends  
    where boards_id=#{no}
  </delete>
  
 
</mapper>