<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenright.dao.WishProductDao">

 <resultMap type="WishProduct" id="WishProductMap">
    <id column="wishlist_id" property="no" />
    <result column="member_id" property="memberId" />
    <result column="product_id" property="productId" />
    <result column="option_item_id" property="optionItemNo" />
    <result column="registered_date" property="registeredDate" />
    <result column="quantity" property="quantity" />
    <association property="product" javaType="Product">
      <id column="product_id" property="no" />
      <result column="price" property="price" />
      <result column="product_name" property="productName" />
      <result column="description" property="description" />
    </association>
    <association property="productPhoto" javaType="ProductPhoto">
      <id column="product_photo_id" property="no" />
      <result column="product_id" property="productNo" />
      <result column="photo_path" property="photoPath" />
      <result column="main_photo_flag" property="mainPhoto" />
    </association>
  </resultMap>

  <select id="findAll" parameterType="int" resultMap="WishProductMap">
  select
    b.quantity,
    b.option_item_id,
    p.price,
    p.product_name,
    p.description,
    p.quantity,
    f.photo_path
  from baskets b
    left outer join products p on p.product_id = b.product_id
    left outer join product_photos f on (p.product_id = f.product_id AND
       f.main_photo_flag = 0)
  where b.member_id=#{no};
  </select>
  
    <insert id="insert" parameterType="WishProduct">
    insert into baskets(member_id,product_id) values (#{memberId},#{productId});
  </insert>
  
  <insert id="insertFull" parameterType="WishProduct">
    insert into baskets(member_id,product_id,quantity,option_item_id) values (#{memberId},#{productId},#{quantity},#{optionItemNo});
  </insert>
  
  <select id="count" parameterType="int" resultType="int">
    select count(*) from baskets where member_id=#{no};
  </select>
  
</mapper>

