@charset "UTF-8";

[readonly] {
  background-color: #DDDDDD !important;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto auto;
}

#signform, #loginForm, #findIdPassword, #passwordChangeForm {
  text-align: left;
  width: 500px;
  margin: auto auto;
  font-weight: bold;
}

#loginForm *, #findIdPassword * {
  margin: auto auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

#loginForm input, #loginForm select, #findIdPassword input, #findIdPassword select {
  height: 40px;
}

#loginForm button, #findIdPassword button {
  height: 50px;
}

#signform input:not[type=button], #passwordChangeForm input:not[type=button] {
  display: inline-block;
  height: 50px;
  margin-top: 5px;
}

div#address input {
  height: 50px;
  width: 500px;
}

#address input[name=postalCode] {
  height: 50px;
  width: 248px;
}

#address input[name=searchPostalCode] {
  height: 50px;
  width: 248px;
}

#signform select {
  display: inline-block;
  height: 50px;
  margin: 10px auto;
}